---
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout title='Welcome to Astro.'>
  <main>
    <h1>hi</h1>
  </main>
</BasicLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 2000px;
    max-width: calc(100% - 2rem);
    color: white;
    height: 100vh;
    height: 100dvh;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
