---
import type { HTMLAttributes } from 'astro/types';
import '../utils/fonts.css';

interface Props extends HTMLAttributes<'a'> {
  className?: string;
}

const {href, className, ...rest } = Astro.props;
---

<a href={href} {...rest} class={`nav-link ${className || ''}`}><slot /></a>

<style>
  .nav-link {
    color: #212832;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 400;
    padding: 3px;
    font-family: 'Product Sans Regular';
  }
  .nav-link:hover {
    background-color: var(--light-orange);
  }
  .sign-up {
    border: 1px solid #787c81;
    border-radius: 4px;
    padding-inline: 5px;
  }
</style>
