---
import navItems from '../data/navItems';
---

<nav>
  <div class='container'>
    <a href='' aria-label='Go home'>
      <!--image -->
    </a>
    <ul>
      {
        navItems.map((item) => (
          <li>
            <a href={item.href}>{item.text}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
